<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.left {
  width: 700px;
}

.right {
  width: 700px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-0 {

float: left;

padding: 10px;

}


.column-0.side {

width: 37.5%;

}


.column-0.right {

width: 25%;

}

@media screen and (max-width: 600px) {

.column-0.side, .column-0.right {

width: 100%;

}

}

.column-1 {

float: left;

width: 37.5%;

padding: 15px;

}

</style>